@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-none::webkit-scrollbar {
  display: none;
}

.scroll-none {
  scrollbar-width: none;
}

html, body, #root {
  height: 100%;
}

/* Create ring for CTA elements */
.default-ring-cta {
  @apply focus-visible:outline-none;
  @apply focus-visible:ring-1;
  @apply focus-visible:ring-offset-2;
  
  @apply focus-visible:ring-cta;
  @apply focus-visible:ring-offset-background;
  
  @apply dark:focus-visible:ring-_cta;
  @apply dark:focus-visible:ring-offset-_background;
}

/* Create ring for inverse CTA elements */
.default-ring-cta-inverse {
  @apply focus-visible:outline-none;
  @apply focus-visible:ring-1;
  @apply focus-visible:ring-offset-2;
  
  @apply focus-visible:ring-cta-foreground;
  @apply focus-visible:ring-offset-primary;
  
  @apply dark:focus-visible:ring-_cta;
  @apply dark:focus-visible:ring-offset-_background;
}

/* Create ring for elements on primary bg */
.default-ring-primary {
  @apply focus-visible:outline-none;
  @apply focus-visible:ring-1;
  @apply focus-visible:ring-offset-2;

  @apply focus-visible:ring-primary-foreground;
  @apply focus-visible:ring-offset-primary;

  @apply dark:focus-visible:ring-_primary-foreground;
  @apply dark:focus-visible:ring-offset-_primary;
}
